.pages_bg {
  background: conic-gradient(#080820 180deg, #fff 180deg);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
}

.pages_login {
  width: 1200px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.pages_login .pages_login-picture {
  width: 570px;
  height: 500px;
}

.pages_login .pages_login-picture img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.pages_login .pages_login-forms {
  width: 500px;
  padding: 20px;
  border: 1px solid var(--color-white-FFF);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.pages_login .pages_login-forms h1 {
  font-size: var(--font-size-40);
  color: var(--color-white-FFF);
  letter-spacing: 1px;
  margin-bottom: 15px;
  text-align: center;
}

.pages_login .pages_login-forms .login-forms_toFill {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 10px;
}

.pages_login .pages_login-forms .login-forms_toFill .form_inputs {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--color-white-FFF);
  border-radius: 5px;
  gap: 5px;
}

.pages_login
  .pages_login-forms
  .login-forms_toFill
  .form_inputs
  .login-forms_toFill_locking {
  display: block;
  padding: 0px 10px;
  border-right: 1px solid var(--color-white-FFF);
}

.pages_login .pages_login-forms .login-forms_toFill .form_inputs svg {
  color: var(--color-white-FFF);
  font-size: 22px;
}

.pages_login .pages_login-forms .login-forms_toFill label {
  font-size: var(--font-size-20);
  font-weight: var(--font-weight-500);
  color: var(--color-white-FFF);
  cursor: pointer;
}

.pages_login .pages_login-forms .login-forms_toFill .form_inputs input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-500);
  color: var(--color-white-FFF);
  background-color: transparent;
}

.pages_login
  .pages_login-forms
  .login-forms_toFill
  .form_inputs
  .form_inputs-eyes {
  padding: 0px 10px;
  border-left: 1px solid var(--color-white-FFF);
  cursor: pointer;
}

.pages_login .pages_login-forms button {
  padding: 10px 0px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: var(--font-size-18);
  font-weight: var(--font-weight-500);
  color: var(--color-blueD-main);
  letter-spacing: 1px;
  text-transform: capitalize;
  transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.pages_login .pages_login-forms button:hover {
  transform: translateY(-5px);
}

.pages_login .pages_login-forms button:active {
  transform: translateY(5px);
}
