.pages_bg {
  background: conic-gradient(#080820 180deg, #fff 180deg);
}

.pages_login {
  width: 1200px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.pages_login .pages_login-picture {
  width: 570px;
  height: 500px;
}

.pages_login .pages_login-picture img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.pages_login .pages_login-forms {
  width: 500px;
  padding: 20px;
  border: 1px solid var(--color-white-F);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.pages_login .pages_login-forms h1 {
  font-size: var(--font-size-50);
  color: var(--color-white-F);
  letter-spacing: 1px;
  margin-bottom: 15px;
  text-align: center;
}

.pages_login .pages_login-forms .login-forms_toFill {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 10px;
}

.pages_login .pages_login-forms .login-forms_toFill label {
  font-size: var(--font-size-20);
  font-weight: var(--font-weight-500);
  color: var(--color-white-F);
}

.pages_login .pages_login-forms .login-forms_toFill input {
  width: 100%;
  padding: 10px 10px;
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: var(--font-size-20);
  font-weight: var(--font-weight-500);
  color: var(--color-blueD-main);
}

.pages_login .pages_login-forms button {
  padding: 10px 0px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-500);
  color: var(--color-blueD-main);
  letter-spacing: 1px;
}
