.navbar_panel {
  border-bottom: 1px solid var(--color-white-FFF-blur);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
}

.navbar_panel .navbar_search {
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 100px;
  overflow: hidden;
  border: 1px solid var(--color-white-FFF-blur);
  padding-right: 3px;
}

.navbar_panel .navbar_search label {
  display: block;
  padding: 0px 10px;
  color: var(--color-white-FFF);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-right: 1px solid var(--color-white-FFF-blur);
}

.navbar_panel .navbar_search input {
  width: 100%;
  padding: 10px 4px;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: var(--font-size-16);
  font-weight: 500;
  color: var(--color-white-FFF);
}

.navbar_panel .navbar_search button {
  padding: 9px 25px;
  border-radius: 100px;
  border: none;
  background-color: var(--color-white-FFF-blur);
  font-size: var(--font-size-14);
  letter-spacing: 1px;
  font-weight: var(--font-weight-500);
  color: var(--color-white-FFF);
  cursor: pointer;
}

.navbar_content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar_content .notification {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: var(--color-white-FFF);
  font-size: 20px;
  color: var(--color-blueD-main);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.navbar_user-panel {
  border: 1px solid var(--color-white-FFF-blur);
  display: flex;
  align-items: center;
  padding: 4px;
  gap: 10px;
  border-radius: 100px;
  cursor: pointer;
}

.user-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.user-img img {
  width: 100%;
  height: 100%;
}

.navbar_user-panel h2 {
  font-size: var(--font-size-16);
  color: var(--color-white-FFF);
  padding-right: 12px;
  line-height: 20px;
}

.navbar_user-panel h2 span {
  display: block;
  font-size: var(--font-size-14);
  color: var(--color-white-FFF-blur);
}
