.navbar_panel {
  border-bottom: 1px solid var(--color-white-FFF-blur);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
}

/* modal oyna */

.navbar_modal {
  position: fixed;
  top: 80px;
  right: 10px;
  width: 300px;
  border-radius: 5px;
  padding: 15px 10px;
  transform: scale(0) translateY(-20px);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(20px);
  background-color: var(--color-blueD-main-blur);
  border: 1px solid var(--color-white-FFF-blur);
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37),
    inset 0 0 20px rgba(255, 255, 255, 0.2);
  color: white;
  z-index: 999;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.navbar_user-panel.active + .navbar_modal {
  transform: scale(1) translateY(0px);
}

.modal_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal_title-user {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid var(--color-white-FFF-blur);
}

.modal_title-user .modal_user-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.modal_title-user .modal_user-img img {
  width: 100%;
  height: 100%;
}

.modal_title-user h2 {
  width: 200px;
  font-size: var(--font-size-18);
}

.modal_title .exit_modal {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 27px;
  height: 27px;
  border-radius: 5px;
  background-color: red;
  box-shadow: 0px 0px 4px 2px rgba(255, 0, 0, 0.459);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 20px;
}

.modal_content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px 0px;
  margin-top: 10px;
}

.modal_content a {
  width: 100%;
  color: var(--color-white-FFF);
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  cursor: pointer;
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-500);
  padding: 10px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.modal_content a:last-child {
  color: red;
}

.modal_content a:hover {
  background-color: #063431;
}

.modal_content a svg {
  font-size: var(--font-size-20);
}

/* navbar */
.navbar_panel .navbar_search {
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 100px;
  overflow: hidden;
  border: 1px solid var(--color-white-FFF-blur);
  padding-right: 3px;
}

.navbar_panel .navbar_search label {
  display: block;
  padding: 0px 10px;
  color: var(--color-white-FFF);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-right: 1px solid var(--color-white-FFF-blur);
}

.navbar_panel .navbar_search input {
  width: 100%;
  padding: 10px 4px;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: var(--font-size-16);
  font-weight: 500;
  color: var(--color-white-FFF);
}

.navbar_panel .navbar_search button {
  padding: 9px 25px;
  border-radius: 100px;
  border: none;
  background-color: var(--color-white-FFF-blur);
  font-size: var(--font-size-14);
  letter-spacing: 1px;
  font-weight: var(--font-weight-500);
  color: var(--color-white-FFF);
  cursor: pointer;
}

.navbar_content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar_content .notification {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: var(--color-white-FFF);
  font-size: 20px;
  color: var(--color-blueD-main);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.navbar_user-panel {
  width: 250px;
  border: 1px solid var(--color-white-FFF-blur);
  display: flex;
  align-items: center;
  padding: 4px;
  gap: 10px;
  border-radius: 100px;
  cursor: pointer;
}

.user-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.user-img img {
  width: 100%;
  height: 100%;
}

.navbar_user-panel h2 {
  font-size: var(--font-size-16);
  color: var(--color-white-FFF);
  padding-right: 12px;
  line-height: 20px;
}

.navbar_user-panel h2 span {
  display: block;
  font-size: var(--font-size-14);
  color: var(--color-white-FFF-blur);
}
