.panel_sidebar {
  width: 23%;
  height: 100vh;
  padding-left: 10px;
  background-color: var(--color-blueD-main);
  border-right: 1px solid rgba(255, 255, 255, 0.285);
}

.panel_sidebar .sidebar_logo {
  width: 100%;
  height: 76px;
  margin: 17px 0px;
}

.panel_sidebar .sidebar_logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.panel_sidebar .panel_links {
  padding: 10px 0px;
  padding-right: 5px;
  height: 560px;
  overflow-y: scroll;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.panel_sidebar .panel_links a {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  color: var(--color-white-FFF);
  text-decoration: none;
  /* background-color: #00985b; */
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 10px;
}

.panel_sidebar .panel_links a.active {
  background-color: #00985b;
}

.panel_sidebar .panel_links a svg {
  font-size: 25px;
}

.panel_sidebar .panel_links a:hover {
  background-color: #00985b4d;
  backdrop-filter: blur(10px);
}

.panel_sidebar .panel_links a::after {
  content: "";
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 0px;
  height: 100%;
  background-color: #00985b;
  transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.panel_sidebar .panel_links a:hover::after {
  width: 3px;
}

.panel_sidebar .panel_links a::before {
  content: "";
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #00985b;
  transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
  transform: scale(0);
}

.panel_sidebar .panel_links a:hover::before {
  transform: scale(1);
}

.panel_social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 13px 0px;
}

.panel_social span {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-white-FFF);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.panel_social span svg {
  color: var(--color-blueD-main);
  font-size: 20px;
}

.panel_social span:nth-of-type(1) svg {
  color: #fc0364;
}

.panel_social span:nth-of-type(2) svg {
  color: #2299d4;
}

.panel_social span:nth-of-type(3) svg {
  color: #ff0033;
}
