@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/* font-family: "Roboto", sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
/* font-family: "Ubuntu", sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

:root {
  /* size */
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-20: 20px;
  --font-size-30: 30px;
  --font-size-40: 40px;
  --font-size-50: 50px;
  --font-size-60: 60px;

  /* weight */
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
  /* colors */
  --color-white-F: #fff;
  --color-blueD-main: #080820;
}

ul {
  list-style: none;
}

.displays {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
