@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/* font-family: "Roboto", sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
/* font-family: "Ubuntu", sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

:root {
  /* size */
  --font-size-12: 12px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-20: 20px;
  --font-size-30: 30px;
  --font-size-40: 40px;
  --font-size-50: 50px;
  --font-size-60: 60px;

  /* weight */
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
  /* colors */
  --color-white-FFF: #fff;
  --color-white-FFF-blur: rgba(255, 255, 255, 0.285);
  --color-white-FA: #f5f3f5;
  --color-blueD-main: #080820;
  --color-blueD-main-blur: #0808206e;
}

/* background-color: #121235;  ko'k rang*/

body {
  background-color: var(--color-blueD-main);
}

ul {
  list-style: none;
}

.displays {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.displays_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_panel {
  display: flex;
  align-items: start;
}

.panel_body {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Scrollbar umumiy o'lchami */
::-webkit-scrollbar {
  width: 10px;
}

/* Scroll track */
::-webkit-scrollbar-track {
  background: #080820;
}

/* Scroll thumb */
::-webkit-scrollbar-thumb {
  background: #0808206e;
}

::-webkit-scrollbar-thumb:hover {
  background: #0f172a;
}
